* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "wanted sans", sans-serif;
  background-color: #5785ff;
}

.container__title {
  color: #ffc400;
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  column-gap: 18.75rem;
}

header {
  padding-inline: 6rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00d254;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 12.5rem;
  color: #333;
}

.about.doodle.etc {
  :hover {
    color: #008545;
  }
}

.section__about {
  padding-top: 6.25rem;
  padding-bottom: 16.875rem;
  padding-inline: 5rem;
}

.container__card {
  margin-bottom: 12.5rem;
  display: flex;
  justify-content: center;
  gap: 1.375rem;
}

.card__profile {
  width: 23.75rem;
  height: 33rem;
  padding-inline: 40px;
  padding-block: 2.5rem;
  width: 21.25rem;
  background-color: #333;
  border-radius: 0.75rem;
  &-title {
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &-subtitle {
    color: #aaa;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  &-text {
    padding-top: 1.8rem;
    color: #d6d6d6;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.img__taeri {
  width: 100%;
  border-radius: 0.25rem;
}

.card__fav {
  width: 46.6875rem;
  height: 108.375rem;
  padding-inline: 2.875rem;
  padding-block: 2.5rem;
  background-color: #97b3ff;
  border-radius: 0.75rem;
  &-title {
    color: #b2c3ff;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 1.25rem;
  }
  &-img {
    display: flex;
    gap: 0;
    .cat-1 {
      width: 218px;
      height: 291px;
    }
    .cat-2 {
      width: 218px;
      height: 291px;
    }
    .cat-3 {
      width: 219px;
      height: 291px;
    }
  }
}

.cat {
  padding-bottom: 2.5rem;
  color: #617fea;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container__footer {
  height: 9.375rem;
  padding-inline: 9.375rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 47.5rem;
  color: #888;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #333;
}

.p__footer {
  display: flex;
}
